

body {
    background: url(http://vignette4.wikia.nocookie.net/fireemblem/images/e/ee/Awakening_Map_official_art.jpg/revision/latest/scale-to-width-down/2000?cb=20150306030548);
    text-align: center;
    justify-content: space-around;
    color:yellowgreen;
    height: auto;
   
}

.characters {
    max-width: 100%;
    height: auto;
}

